step_functions/iterate_dynamo_db_table.json
{
  "StartAt": "Add empty LastEvaluatedKey",
  "States": {
    "Add empty LastEvaluatedKey": {
      "Type": "Pass",
      "Next": "Scan",
      "Result": {
        "LastEvaluatedKey": null
      },
      "ResultPath": "$"
    },
    "Scan": {
      "Type": "Task",
      "Next": "Map",
      "Parameters": {
        "TableName": "testtable",
        "ProjectionExpression": "#guid",
        "ExpressionAttributeNames": {
          "#guid": "guid"
        },
        "ExclusiveStartKey.$": "$.LastEvaluatedKey"
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:scan"
    },
    "Map": {
      "Type": "Map",
      "Next": "Check for more",
      "Iterator": {
        "StartAt": "Process",
        "States": {
          "Process": {
            "Type": "Pass",
            "End": true
          }
        }
      },
      "ItemsPath": "$.Items",
      "ResultPath": null,
      "MaxConcurrency": 40
    },
    "Check for more": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.LastEvaluatedKey",
          "IsPresent": true,
          "Next": "Add new LastEvaluatedKey"
        }
      ],
      "Default": "Done"
    },
    "Done": {
      "Type": "Succeed"
    },
    "Add new LastEvaluatedKey": {
      "Type": "Pass",
      "Next": "Scan",
      "Parameters": {
        "LastEvaluatedKey.$": "$.LastEvaluatedKey"
      },
      "ResultPath": null
    }
  }
}