step_functions/TransactionProcessor.json
{
  "Comment": "Transaction Processor",
  "StartAt": "AddToTransactionHistory",
  "States": {
    "AddToTransactionHistory": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "transaction_history",
        "Item": {
          "TransactionId": {
            "S.$": "$.TransactionId"
          },
          "TransactionType": {
            "S.$": "$.TransactionType"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2
        }
      ],
      "ResultPath": "$.taskresult",
      "Next": "BroadcastTransaction"
    },
    "BroadcastTransaction": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TransactionType",
          "StringEquals": "PURCHASE",
          "Next": "ProcessPurchase"
        },
        {
          "Variable": "$.TransactionType",
          "StringEquals": "REFUND",
          "Next": "ProcessRefund"
        }
      ]
    },
    "ProcessPurchase": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:sa-east-1:11111:function:process_purchase",
      "ResultPath": "$.taskresult",
      "Next": "BroadcastToSQS"
    },
    "ProcessRefund": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:sa-east-1:11111:function:process_refund",
      "ResultPath": "$.taskresult",
      "Next": "BroadcastToSNS"
    },
    "BroadcastToSQS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.sa-east-1.amazonaws.com/11111/producer",
        "MessageBody": {
          "TransactionId": "$.TransactionId",
          "TransactionType": "$.TransactionType"
        }
      },
      "End": true
    },
    "BroadcastToSNS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:sa-east-1:11111:mytopic",
        "Message": {
          "TransactionId.$": "$.TransactionId",
          "TransactionType.$": "$.TransactionType"
        }
      },
      "End": true
    }
  }
}